.ui.navbar {
  background-color: #fff;
}
.ui.navbar .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.ui.navbar .header > img {
  width: 98px;
}
.ui.navbar .header {
  transition: all 0.4s;
}
.ui.navbar .menu {
  margin-left: 103px;
  transition: all 0.4s;
}
.ui.navbar .menu .item {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  line-height: 25px;
  padding-top: 26px;
  padding-bottom: 35px;
}
.ui.navbar .menu .item:not(:first-child) {
  margin-left: 64px;
}
.ui.navbar .menu .item.active {
  border-bottom: 2px solid #000;
}
.ui.navbar .search-icon {
  flex: 1;
  text-align: right;
}
.ui.navbar .search-form {
  position: absolute;
  transform: translateY(-120px);
  opacity: 0;
  transition: all 0.5s;
}
.ui.navbar .searching .search-form {
  opacity: 1;
  transform: translateY(0px);
}
.ui.navbar .searching .header,
.ui.navbar .searching .menu,
.ui.navbar .searching .menu-icon {
  transform: translateY(80px);
  opacity: 0;
}
@media only screen and (min-width: 767px) {
  .ui.navbar .menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .ui.navbar .header > img {
    width: 56px;
  }
  .ui.navbar .content .menu {
    display: none;
  }
  .ui.navbar .content {
    justify-content: space-between;
    padding-top: 9px;
  }
  .ui.navbar .search-icon {
    flex: 0;
  }
}
