<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="" id="app">
        <!--  {{message}}
        <p class="coll">boy</p>
        <p class="good" v-bind:class="{cool : isGood}">tqzh</p>
        <p class="good" v-bind:class="isGood?'cool':'notCool' ">tqzh</p>
        <p class="cool" v-bind:class="[activeClass]"></p> -->

        <!-- <ul>
            <li v-for="a in todos">{{a.text}}</li>
        </ul> -->
        <p class="coll" v-on:click="reverseMsg">{{msg}}</p>
        <p>{{content}}</p>
        <input type="text" v-model="content" />
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app', 
        data: {
            // message: 'hello world',
            // isGood: false,
            // activeClass: 'active'
            // todos: [
            //     { text: 'study vue'},
            //     { text: 'study js'},
            //     { text: 'write project'}
            // ],
            content: '',
            msg: 'boy'
        },
        methods: {
            reverseMsg(){
                this.msg = this.msg.split('').reverse().join('')
            },
        }
    })
</script>
</html>